RewriteEngine on
RewriteBase /webdev/Careers/public/
#RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([a-zA-Z0-9_-]+)/?$ /$1.php [QSA]

RewriteRule ^students/([^/][A-Za-z0-9\.]+)$ view_student_cv.php?s=$1 [QSA]

RewriteRule ^students$ list_students.php [QSA]
RewriteRule ^students/([^/][A-Za-z0-9\.]+)/cv$ view_cv_pdf.php?s=$1
RewriteRule ^students/$ students [R]

RewriteRule ^contact$ contact_us.php [QSA]
RewriteRule ^login$ login.php [QSA]
RewriteRule ^logout$ logout.php [QSA]


RewriteRule ^students/css/(.*)$ css/$1 [QSA]
RewriteRule ^students/js/(.*)$ js/$1 [QSA]
RewriteRule ^students/img/(.*)$ img/$1 [QSA]
RewriteRule ^students/ajax_files/(.*)$ ajax_files/$1 [QSA]