RewriteEngine on
#RewriteBase /webdev/Careers/www/
RewriteBase /

RewriteRule ^contact$ contact_us.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^register$ company_register.php [L]
RewriteRule ^(students|students/)$ list_students.php [L]
RewriteRule ^(companies|companies/)$ list_companies.php [L]


RewriteRule ^students/([^/][A-Za-z0-9\.]+)$ view_student_details.php?s=$1 [QSA]
RewriteRule ^students/([^/][A-Za-z0-9\.]+)/cv/?$ view_cv_pdf.php?s=$1
RewriteRule ^students/ajax_files/(.*)$ ajax_files/$1 [QSA]

ErrorDocument 404 /not-found.php